@page "/"

<PageTitle>Home</PageTitle>

<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="mb-4">Hello stranger!</h1>
        <p class="lead">Login to manage your devices</p>
        <a class="btn btn-primary btn-lg mt-3" href="/devices">Go to Devices</a>
    </div>
</div>
